*.kubeconfig
node_modules
.next
npm-debug.log*
.env
.env.local
Project Overview.md
random.txt
project-summary.txt
summary update.txt
Internet A-Z - Serverless Architecture & FaaS (Functions as a Service).md
